  
  table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 8pt !important;
  }
  
  table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 8pt !important;
  }

  .bst-custom-table{
    font-family: 'Times New Roman', Times, serif;
  }